version: "3.9"

services:

  gateway:
    container_name: api-gateway
    build: ./gateway
    ports:
      - "4242:8080"
    depends_on:
      - service-node
      - service-go
      - service-python
      - service-python-2
      - service-java
    networks:
      - demo-network

  service-node:
    build: ./services/service-node
    networks:
      - demo-network

  service-go:
    build: ./services/service-go
    networks:
      - demo-network

  service-python:
    build: ./services/service-python
    environment:
      - INSTANCE_NAME=Instance-1
    networks:
      - demo-network

  service-python-2:
    build: ./services/service-python-2
    environment:
      - INSTANCE_NAME=Instance-2
    networks:
      - demo-network

  service-java:
    build: ./services/service-java
    networks:
      - demo-network

networks:
  demo-network:
    driver: bridge